body{
	background: #fefefe;
	font-size:11px;
	font-family: Georgia, Arial;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

a{
	text-decoration:  none;
}

.l-header{
	background: #777879;
}

.l-wrapper{
	width:100%;
	overflow: hidden;
	border: 2px solid #efefee;
}

.l-content{
	float:left;
}

.l-sidebar{
	width:200px;
	float: right;
}

.l-user-auth{
	float:right;
}

.l-user-auth a{
	color : #334;
}

.l-user-auth form .linput{
	border:1px solid #333;
	width : 120px;
	height : 20px;
	color: #111;
}

.l-user-auth form #submit{
	color: #111;
}


.h-navigation ul li.top-item{
	display: none;
}